// Navbar
ul#main-menu {
	li.nav-callout-button:last-of-type {
		@media (max-width: 991.98px) {
			margin: .5rem 0;
		}
	}
}

// Homepage
.page-template-homepage {
	// Hero
	.c-hero {
		h1 {
			@media (max-width: 400px) {
				font-size: 2rem;
			}
		}
		.c-hero__description {
			@media (max-width: 400px) {
				font-size: 1.2rem;
			}
		}
	}
	// Counter
	section.c-counter .container-fluid {
		padding-top: 0 !important;
	}
}
  
// Documentation
.single-docs {
	#primary .wp-block-image img {
		border: 1px solid #ddd;
	  	box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
  	}
  	#main ul > li {
	  	margin-bottom: .25rem;
  	}
  	.entry-meta {
	 	display: none;
	}
}
  
// Doc/Bootstrap sidebar menu
#accordion-docs, #bsks {
	.card {
		.card-header {
			padding: 0;
			background-color: rgba(0,0,0,.02);

			.btn-link {
				font-size: .95rem;
				text-decoration: none;
				width: 100%;
				text-align: left;
				padding: .4rem 1rem;
			}
			.btn-link:hover {
				text-decoration: none;
			}
			.btn-link:focus {
				outline: 0;
				box-shadow: none;
				border-radius: 0;
			}
		}
		.card-body {
			padding: .6rem 1.25rem;
			ul li {
				margin-bottom: .15rem;
				font-size: .875rem;
			}
		}
		ul li a:hover {
			text-decoration: none;
		}
	}
}
#accordion-docs .card .card-body ul {
	list-style: none;
	padding-left: .5rem;
	margin-bottom: 0;
}
#bsks .card .card-body ul {
	padding-left: 1rem;
	margin-bottom: 0;
}

// Features
.c-features-all {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
ul.c-features-all__list {
	column-count: 1;

	@media (min-width: 576px) {
		column-count: 2;
	}
	@media (min-width: 768px) {
		column-count: 3;
	}
	@media (min-width: 992px) {
		column-count: 4;
	}

	> li {
		margin-bottom: .5rem;
	}
	li::before {
		font-family: "Font Awesome 5 Free";
		content: "\f058";
		color: #019875;
		margin-right: 7px;
		font-weight: 700;
	}
}
.c-plugins {
	border-top: 1px solid #d6eaff;
	border-left: 1px solid #d6eaff;
	margin-bottom: 2rem;

  	.c-plugins__logo {
	  	padding: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #d6eaff;
		border-bottom: 1px solid #d6eaff;
		overflow: hidden;
		background: #fff;
		height: 10rem;

		img {
			max-width: 200px;
			width: 100%;
			height: auto;
		}
  	}
	a {
		transition: .3s;
		:hover {
			opacity: .8;
		}
	}
} 
.c-right-selective li.list-group-item {
	padding: .05rem .5rem;
	background-color: rgba(0,0,0,.02);
}
  
// Bootstrap demo
.bd-heading + div > * + * {
	margin-top: 3rem;
}
.bd-heading {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}
[id="modal"] .bd-example .btn,
[id="buttons"] .bd-example .btn,
[id="tooltips"] .bd-example .btn,
[id="popovers"] .bd-example .btn,
[id="dropdowns"] .bd-example .btn-group,
[id="dropdowns"] .bd-example .dropdown,
[id="dropdowns"] .bd-example .dropup,
[id="dropdowns"] .bd-example .dropend,
[id="dropdowns"] .bd-example .dropstart {
	margin: 0 1rem 1rem 0;
}
.scrollspy-example {
	position: relative;
	height: 200px;
	margin-top: .5rem;
	overflow: auto;
}

// GPL footer note
#wrapper-footer {
	.gpl-footer-note {
		@media (max-width: 767.98px) {
			margin: 0.75rem 0 0 0;
			text-align: center;
		}
	}
}

// Premium Extensions sales page
.page-template-premium-extensions {
	section.cpe-heading {
		padding-bottom: 3rem;
		@media (min-width: 992px) {
			padding-top: 1rem;
			padding-bottom: 4rem;
		}
		ul li {
			i {
				font-size: .85rem;
				margin-right: .25rem;
			}
		}
	}
	section.cpe-pricing.extension {
		padding-bottom: 4rem;
	}
	section.extension {
		padding: 3rem 0;
		@media (min-width: 992px) {
			padding: 4rem 0;
		}
		
		.c-pe-images, .embed-responsive {
			border: 1px solid #ddd;
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
		}
	}
	section.odd {
		background-color: #F3F3F3;
	}
	.cpe-pricing__table {
		margin-bottom: 1.5rem;
		.card {
			max-width: 42rem;
			margin: 0 auto;
			.card-header {
				background-color: #fff;
				text-align: center;
				padding-top: 1.5rem;
				padding-bottom: 0;
				border: 0;
			}
			.card-body {
				padding-left: 3rem;
				padding-right: 3rem;
				padding-bottom: 1.5rem;
				text-align: center;
				@media (min-width: 768px) {
					text-align: left;
				}
			}
			ul.cpe-pricing__list-first {
				@media (max-width: 767.98px) {
					margin-bottom: 0 !important;
					border-bottom: 1px solid rgba(0,0,0,.125);
				}
			}
			li {
				font-size: 0.94rem;
				padding: 0.5rem 0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.125);
				&:last-of-type {
					border-bottom: 0;
				}
				@media (min-width: 768px) {
					padding-left: 20%;
				}
				i {
					@media (max-width: 767.98px) {
						display: none;
					}
					font-size: .85rem;
					margin-right: .25rem;
				}
			}
		}
	}

	.c-cta {
		display: none;
	}

	.wrapper {
		padding-bottom: 0;
	}
}
